@use "components";
@mixin section-display {
    width: 100%;
    max-width: 992px;
    margin: auto;
    padding: 3rem;
}
html {
    // min-width: 100vw;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 4rem;
    border-bottom: solid 1px #ddd;
}
.logo figure {
    margin: 0; 
    img {
        max-width: 7rem;
    }
}

.sec-home {
    display: flex;
    align-items: center;
    @include section-display();
    
    .home-cta {
        flex: 1;
        font-weight: 600;
        .cta-text{
            color: components.$color-main;
        }
        .home-title {
            min-width: 20rem;
            font-size: 3rem;
        }
        .home-description {
            width: 300px;
        }
        .lead-magnet {
            .input-col {
                max-width: 250px;
            }

        }
    }
}

.sec-features {
    @include section-display();
    display: flex;
    flex-direction: column;
    align-items: center;
    .intro {
        text-align: center;
        h3 {
            font-size: 1.8rem;
        }
        p {
            font-size: 0.8rem;
            color: #888;
        }
    }
    .features {
        display: flex;
        align-items: center;
        gap: 5rem;
        .text{
            padding: 2rem 0;
            // max-width: 40%;
            flex: 1;
            .feature{
                display: flex;
                flex-direction: row;
                align-items: center;
                .description{
                    text-align: left;
                    margin-left: 1rem;
                    max-width: 20rem;
                    .description-title {
                        font-size: 1.15rem;
                    }
                    .description-text {
                        font-size: 1rem;
                        
                    }
                }
            }
        }
        .image {
            img {
                max-width: 20rem;
            }
        }

    }

}

.sec-benefits {
    border-top: 1px solid #eee;
    .intro {
    @extend .sec-features, .intro;
    }
    .benefit-cards {
        width: 100%;
        margin: 0;
        padding: 0 2rem 2rem 2rem;
    }
}

.sec-kpis {
    background-color: components.$color-main;
    color: white;
    padding: 4rem;
    width: 100%;
    margin: 0;
    .kpi {
        display: flex;
        flex-direction: column;
        align-items: center;

        .number {
            font-size: 3.5rem;
            font-weight: 600;
        }
        .desc {
            color: #ffffffaa;
            font-size: 0.9rem;
        }
    }
}

.sec-onboarding {
    .intro {
        @extend .sec-features, .intro;

    }
    .steps {
        padding: 0 7rem 5rem 7rem;
        display: flex;
        justify-content: center;
        align-items: center;
        .step-separator {
            flex: 1;
            border-top: 2px solid #ddd;
            margin: 0 1rem;
        }
    }
}

.sec-footer-cta {
    background-color: components.$color-footer;
    padding: 5rem;
    background-image: url(../assets/img/bg.png);
    background-repeat: no-repeat;
    background-position: 100%;
    .footer-cta {
        margin: 0 2rem 0 0;
        width: 50%;
        .cta-title {
            font-size: 2rem;
        }
        .cta-description {
            font-size: 1.1rem;
        }
    }
}

//Esta media query funcionará cuando estemos trabajando con menos de 768px
@media (max-width: 768px) {


    .sec-features {
        .intro {
            h3 {
                font-size: 2rem;
            }
            p {
                font-size: 1rem;
            }
        }
    }

    .sec-benefits {
        .intro {
            padding-bottom: 0;
            text-align: center;
            h3 {
                font-size: 2rem;
            }
            p {
                font-size: 1rem;
            }
        }
        .benefit-cards {
            margin: auto;
        }
    }

    .sec-onboarding{
        .intro {
            text-align: center;
            h3 {
                font-size: 2rem;
            }
            p {
                font-size: 1rem;
            }
        }
        .steps {
            flex-direction: column;
            .icon-desc {
                .title {
                    text-align: center;
                }
            }
        }
    }

    .sec-footer-cta {
        background-image: none;
        .footer-cta {
            text-align: center;
            width: 100%;
            h3 {
                margin-bottom: 1rem;;
            }
            p {
                margin-bottom: 1.5rem;
            }
        }
    }

}